# 1. Ambil Data Dari Gdelt, Ambil yang Nopember Saja

In [18]:
import requests
import lxml.html as lh

gdelt_base_url = 'http://data.gdeltproject.org/events/'

# get the list of all the links on the gdelt file page
page = requests.get(gdelt_base_url+'index.html')
doc = lh.fromstring(page.content)
link_list = doc.xpath("//*/ul/li/a/@href")

# separate out those links that begin with four digits 
file_list = [x for x in link_list if (str(x[0:6]) == '201811')]
print(file_list)
#print("Done!")

['20181103.export.CSV.zip', '20181102.export.CSV.zip', '20181101.export.CSV.zip']

# 2. Masukkan Data ke Dalam Format TSV untuk Data Dari Negara Indonesia

In [19]:
infilecounter = 0
outfilecounter = 0

import os.path
import urllib
import zipfile
import glob
import operator

local_path = 'D:/GDELT/'
dir_country = 'country'
fips_country_code = 'ID'

for compressed_file in file_list[infilecounter:]:
    print(compressed_file),
    
    # if we dont have the compressed file stored locally, go get it. Keep trying if necessary.
    while not os.path.isfile(local_path+compressed_file): 
        print('Downloading....')
        urllib.request.urlretrieve(url=gdelt_base_url + compressed_file,
                           filename=local_path + compressed_file)
    
    # extract the contents of the compressed file to a temporary directory    
    print('extracting,')
    z = zipfile.ZipFile(file=local_path+compressed_file, mode='r')    
    z.extractall(path=local_path+'tmp/')
    
    # parse each of the csv files in the working directory, 
    print('parsing,')
    
    for infile_name in glob.glob(local_path+'tmp/*'):
        outfile_name = local_path+dir_country+'/'+fips_country_code+'%04i.tsv'%outfilecounter
        
        try:
            # Create target Directory
            os.mkdir(local_path+dir_country)
            print("Directory " , dir_country ,  " Created ") 
        except FileExistsError:
            print("Directory " , dir_country ,  " already exists")
        
        # open the infile and outfile
        print(infile_name)
        with open(infile_name,mode='r') as infile, open(outfile_name,mode='w') as outfile:
            try:
                for line in infile:
                    # extract lines with our interest country code
                    if fips_country_code in operator.itemgetter(51, 37, 44)(line.split('\t')):    
                        outfile.write(line)
            except:
                print("")
            outfilecounter +=1
            
        # delete the temporary file
        os.remove(infile_name)
    infilecounter +=1
    print('done')

20181103.export.CSV.zip
Downloading....
extracting,
parsing,
Directory  country  already exists
D:/GDELT/tmp\20181103.export.CSV

done
20181102.export.CSV.zip
Downloading....
extracting,
parsing,
Directory  country  already exists
D:/GDELT/tmp\20181102.export.CSV

done
20181101.export.CSV.zip
Downloading....
extracting,
parsing,
Directory  country  already exists
D:/GDELT/tmp\20181101.export.CSV

done

# 3. Masukkan Data Dari TSV ke Database

In [21]:
import glob
import pymysql
import pandas as pd

host = '127.0.0.1'
port = "3306"
user = 'root'
password = ''
database = 'news'

conn = pymysql.connect(
    host=host,
    port=int(port),
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

def run(sql):
    df = pd.read_sql_query(sql,conn)
    return df
x = conn.cursor()

# Build DataFrames from each of the intermediary files
files = glob.glob(local_path+'country/'+fips_country_code+'*')
DFlist = []
print("We are working on it, please take your coffee...")  
for active_file in files:
    with open(active_file,mode='r') as xfile:
        for line in xfile:
            kolom = line.split("\t")
            kolomID = kolom[0]
            kolomURL = kolom[57]
       
            sql = "INSERT INTO gdelt_content (GLOBALEVENTID,URL) SELECT * FROM (SELECT '"+kolomID+"','"+kolomURL+"') AS tmp WHERE NOT EXISTS (SELECT GLOBALEVENTID FROM gdelt_content WHERE GLOBALEVENTID = '"+kolomID+"') LIMIT 1"
            #print(sql)
            x.execute(sql)
            conn.commit()
print("Done! All have finished")

We are working on it, please take your coffee...
Done! All have finished

# 4. Update Title dan Content data di Database

In [ ]:
from newspaper import Article
import pymysql.cursors
import sys

offset = sys.argv[1]
limit = sys.argv[2]
# year = sys.argv[3]

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='',
                             db='news',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

hdr = {'User-Agent': 'Mozilla/5.0'}
print('Take your coffee again! We will do this job for you...')
with connection.cursor() as cursor:
    sql = "SELECT * FROM `gdelt_content` WHERE (TITLE IS NULL)"
    cursor.execute(sql)
    print(sql)
    result = cursor.fetchall()
    for r in result:
        try:
            r["URL"] = r["URL"].split('<UDIV>')
            print(r["URL"][0])
            article = Article(r["URL"][0])
            article.download()
            article.parse()
            with connection.cursor() as cursor:
                sql = "UPDATE `gdelt_content` SET title=%s,content=%s WHERE GLOBALEVENTID=%s"
                cursor.execute(sql, (article.title.encode('utf-8'), article.text.encode('utf-8'),r["GLOBALEVENTID"]))
                connection.commit()
        except:
            pass

print("Done!")

Take your coffee again! We will do this job for you...
SELECT * FROM `gdelt_content` WHERE (TITLE IS NULL)
https://www.nzherald.co.nz/world/news/article.cfm?c_id=2&objectid=12152702

https://www.nzherald.co.nz/world/news/article.cfm?c_id=2&objectid=12152702

https://www.nzherald.co.nz/world/news/article.cfm?c_id=2&objectid=12152702

https://www.dailymail.co.uk/news/article-6339947/Heartbreaking-setback-families-189-killed-doomed-Indonesian-flight.html

https://www.heraldsun.com.au/blogs/andrew-bolt/turnbull-betrays-morrison-in-indonesia/news-story/d9138630de7cf5c5f994c403486a1c86?nk=d9603facf03cae88d6102bc9606e93a8-1541029690

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.nzherald.co.nz/world/news/article.cfm?c_id=2&objectid=12152702

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.heraldsun.com.au/blogs/andrew-bolt/turnbull-betrays-morrison-in-indonesia/news-story/d9138630de7cf5c5f994c403486a1c86?nk=d9603facf03cae88d6102bc9606e93a8-1541029690

https://www.heraldsun.com.au/blogs/andrew-bolt/turnbull-betrays-morrison-in-indonesia/news-story/d9138630de7cf5c5f994c403486a1c86?nk=d9603facf03cae88d6102bc9606e93a8-1541029690

https://www.dailymail.co.uk/news/article-6339947/Heartbreaking-setback-families-189-killed-doomed-Indonesian-flight.html

https://www.nzherald.co.nz/world/news/article.cfm?c_id=2&objectid=12152702

https://www.nzherald.co.nz/world/news/article.cfm?c_id=2&objectid=12152702

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.heraldsun.com.au/blogs/andrew-bolt/turnbull-betrays-morrison-in-indonesia/news-story/d9138630de7cf5c5f994c403486a1c86?nk=d9603facf03cae88d6102bc9606e93a8-1541029690

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.dailymail.co.uk/news/article-6339947/Heartbreaking-setback-families-189-killed-doomed-Indonesian-flight.html

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.thesun.co.uk/news/7631567/fury-as-saudi-arabia-executes-an-indonesian-maid-after-she-killed-employer-who-was-trying-to-rape-her/

https://www.goldcoastbulletin.com.au/the-13-minutes-before-tragedy-struck-how-the-lion-air-disaster-unfolded/news-story/28de53a23285acd177d9f5386b6731fb?nk=2dd6703d7479eae7d90a368657ed7a2c-1541031405

https://www.goldcoastbulletin.com.au/the-13-minutes-before-tragedy-struck-how-the-lion-air-disaster-unfolded/news-story/28de53a23285acd177d9f5386b6731fb?nk=2dd6703d7479eae7d90a368657ed7a2c-1541031405

https://www.nbcnews.com/news/world/position-crashed-lion-air-jet-may-have-been-located-n926581?cid=public-rss_20181101

https://www.goldcoastbulletin.com.au/the-13-minutes-before-tragedy-struck-how-the-lion-air-disaster-unfolded/news-story/28de53a23285acd177d9f5386b6731fb?nk=2dd6703d7479eae7d90a368657ed7a2c-1541031405

https://www.goldcoastbulletin.com.au/the-13-minutes-before-tragedy-struck-how-the-lion-air-disaster-unfolded/news-story/28de53a23285acd177d9f5386b6731fb?nk=2dd6703d7479eae7d90a368657ed7a2c-1541031405

https://www.goldcoastbulletin.com.au/the-13-minutes-before-tragedy-struck-how-the-lion-air-disaster-unfolded/news-story/28de53a23285acd177d9f5386b6731fb?nk=2dd6703d7479eae7d90a368657ed7a2c-1541031405

https://www.goldcoastbulletin.com.au/the-13-minutes-before-tragedy-struck-how-the-lion-air-disaster-unfolded/news-story/28de53a23285acd177d9f5386b6731fb?nk=2dd6703d7479eae7d90a368657ed7a2c-1541031405

https://www.sbs.com.au/news/no-more-global-missions-for-malcolm-turnbull

https://www.goldcoastbulletin.com.au/the-13-minutes-before-tragedy-struck-how-the-lion-air-disaster-unfolded/news-story/28de53a23285acd177d9f5386b6731fb?nk=2dd6703d7479eae7d90a368657ed7a2c-1541031405

https://www.goldcoastbulletin.com.au/the-13-minutes-before-tragedy-struck-how-the-lion-air-disaster-unfolded/news-story/28de53a23285acd177d9f5386b6731fb?nk=2dd6703d7479eae7d90a368657ed7a2c-1541031405

https://www.goldcoastbulletin.com.au/the-13-minutes-before-tragedy-struck-how-the-lion-air-disaster-unfolded/news-story/28de53a23285acd177d9f5386b6731fb?nk=2dd6703d7479eae7d90a368657ed7a2c-1541031405

https://www.goldcoastbulletin.com.au/the-13-minutes-before-tragedy-struck-how-the-lion-air-disaster-unfolded/news-story/28de53a23285acd177d9f5386b6731fb?nk=2dd6703d7479eae7d90a368657ed7a2c-1541031405

https://www.goldcoastbulletin.com.au/the-13-minutes-before-tragedy-struck-how-the-lion-air-disaster-unfolded/news-story/28de53a23285acd177d9f5386b6731fb?nk=2dd6703d7479eae7d90a368657ed7a2c-1541031405

https://www.goldcoastbulletin.com.au/the-13-minutes-before-tragedy-struck-how-the-lion-air-disaster-unfolded/news-story/28de53a23285acd177d9f5386b6731fb?nk=2dd6703d7479eae7d90a368657ed7a2c-1541031405

https://www.goldcoastbulletin.com.au/the-13-minutes-before-tragedy-struck-how-the-lion-air-disaster-unfolded/news-story/28de53a23285acd177d9f5386b6731fb?nk=2dd6703d7479eae7d90a368657ed7a2c-1541031405

https://www.goldcoastbulletin.com.au/the-13-minutes-before-tragedy-struck-how-the-lion-air-disaster-unfolded/news-story/28de53a23285acd177d9f5386b6731fb?nk=2dd6703d7479eae7d90a368657ed7a2c-1541031405

https://www.goldcoastbulletin.com.au/the-13-minutes-before-tragedy-struck-how-the-lion-air-disaster-unfolded/news-story/28de53a23285acd177d9f5386b6731fb?nk=2dd6703d7479eae7d90a368657ed7a2c-1541031405